body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container {
    padding: 20px;
}

.toDoItem {
    margin: 10px 0;
    clear: both;
}

.toDoItem.completed .description{
    text-decoration: line-through;
}

.toDoItem .description {
    width: 350px;
    margin-right: 40px;
    display: inline-block;
}

.toDoItem .action {
    width: 100px;
    display: inline-block;
}

.addTask input {
    padding: 10px;
    width: 350px;
    font-size: 14px;
}

button.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}